h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}

body {
	padding: 80px 80px 120px 80px;
	background-color: #e5e5e5;
	box-sizing: border-box;
	overflow-x: hidden;
}

.header {
	min-height: 598px;
	background: #ffffff;
	padding: 120px 112px;
	box-sizing: border-box;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 48px;
		line-height: 72px;
		text-align: center;
		letter-spacing: -0.015em;
		color: #000000;
	}
	&__subtitle {
		margin-top: 30px;
		max-width: 1392px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 50px;
		text-align: center;
		letter-spacing: -0.015em;
		color: rgba(0, 0, 0, 0.8);
	}
	&__wrapper {
		margin-top: 80px;
		display: flex;
		gap: 80px;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		width: 173px;
		height: 76px;
		img {
			width: 100%;
		}
	}
}

.company {
	margin-top: 40px;
	box-sizing: border-box;
	background: #ffffff;
	padding: 120px 80px;
	min-height: 962px;
	&__wrapper {
		display: grid;
		grid-template-columns: 750px 686px;
		gap: 84px;
	}
	&__title {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 48px;
		line-height: 72px;
		letter-spacing: -0.015em;
		color: #000000;
	}
	&__subtitle {
		margin-top: 30px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 50px;
		letter-spacing: -0.015em;
		color: rgba(0, 0, 0, 0.8);
	}
	&__container {
		margin-top: 70px;
		display: flex;
		gap: 83px;
		flex-wrap: wrap;
	}
	&__sed {
		&__wrapper {
			background: #ffffff;
			border: 1px solid rgba(0, 0, 0, 0.5);
			height: 722px;
		}
		&__box {
			box-sizing: border-box;
			padding: 71px 64px;
		}
		&__title {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			line-height: 36px;
			letter-spacing: -0.015em;
			color: #000000;
		}
		&__desc {
			margin-top: 24px;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
			letter-spacing: -0.015em;
			color: rgba(0, 0, 0, 0.8);
		}
	}
}

.elipse {
	padding: 120px 144px;
	margin-top: 40px;
	min-height: 470px;
	box-sizing: border-box;
	background: #ffffff;
	&__title {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 50px;
		text-align: center;
		letter-spacing: -0.015em;
		color: rgba(0, 0, 0, 0.8);
	}
	&__img {
		margin-top: 40px;
		text-align: center;
	}
	&__subtitle {
		margin-top: 16px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		text-align: center;
		letter-spacing: -0.015em;
		color: rgba(0, 0, 0, 0.8);
	}
}

.nemo {
	margin-top: 40px;
	box-sizing: border-box;
	height: 470px;
	background: #ffffff;
	&__wrapper {
		display: flex;
		gap: 84px;
	}
	&__title {
		padding-top: 120px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 50px;
		letter-spacing: -0.015em;
		color: rgba(0, 0, 0, 0.8);
	}
	&__lorem {
		padding-left: 80px;
		&__wrapper {
			margin-top: 40px;
			display: flex;
			gap: 20px;
			align-items: center;
		}
	}
	&__square {
		width: 509px;
		height: 470px;
	}
}

.footer {
	margin-top: 40px;
	box-sizing: border-box;
	background: #ffffff;
	min-height: 565px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 120px;
	&__title {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: regular;
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		color: #000000;
	}
	&__form {
		margin-top: 46.75px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 420px;
		input {
			background: #ffffff;
			border: 1px solid #000000;
			border-radius: 5px;
			width: 100%;
			height: 63.66px;
			margin-bottom: 15px;
			box-sizing: border-box;
			padding: 19.89px 29.17px;

			font-family: 'Roboto';
			font-style: normal;
			font-weight: regular;
			font-size: 20px;
			line-height: 28px;
			color: rgba(0, 0, 0, 0.5);
		}
	}
	&__btn {
		display: block;
		margin-top: 8px;
		width: 100%;
		height: 63.66px;
		background: #000000;
		border-radius: 5px;
		border: none;

		font-family: 'Roboto';
		font-style: normal;
		font-weight: regular;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		color: #ffffff;
	}
}

@media (max-width: 1440px) {
	.header {
		&__wrapper {
			gap: 50px;
			justify-content: space-evenly;
		}
	}
	.nemo {
		&__title {
			padding-top: 55px;
			font-size: 32px;
			line-height: 42px;
		}
	}
	.company {
		&__title {
			font-size: 40px;
		}
		&__wrapper {
			gap: 60px;
			grid-template-columns: 400px 686px;
		}
	}
}

@media (max-width: 1200px) {
	body {
		padding: 60px 60px 100px 60px;
	}
	.header {
		&__title {
			font-size: 42px;
		}
		&__subtitle {
			font-size: 32px;
			line-height: 42px;
		}
	}
	.nemo {
		&__title {
			padding-top: 55px;
			font-size: 32px;
			line-height: 42px;
		}
	}
	.company {
		&__title {
			font-size: 40px;
		}
		&__subtitle {
			font-size: 30px;
			line-height: 42px;
		}
		&__wrapper {
			gap: 60px;
			grid-template-columns: 1fr;
		}
		&__sed {
			max-width: 686px;
		}
	}
	.elipse {
		padding: 80px 144px;
		&__title {
			font-size: 32px;
			line-height: 42px;
		}
	}
	.nemo {
		&__title {
			font-size: 18px;
			line-height: 32px;
		}
	}
}

@media (max-width: 992px) {
	.header {
		padding: 80px 60px;
	}
	.company {
		padding: 80px 60px;
		&__container {
			justify-content: space-evenly;
		}
		&__sed {
			&__img {
				width: 100%;
				img {
					width: 100%;
				}
			}
		}
	}
	.nemo {
		max-height: 500px;
		height: 350px;
		&__wrapper {
			gap: 40px;
		}
		&__square {
			max-width: 350px;
			height: 100%;
			img {
				max-width: 350px;
			}
		}
		&__lorem {
			padding-left: 60px;
		}
	}
	.elipse {
		padding: 80px 60px;
	}
}

@media (max-width: 768px) {
	body {
		padding: 40px 40px 80px 40px;
	}
	.header {
		padding: 60px 40px;
		&__title {
			font-size: 32px;
			line-height: 52px;
		}
		&__subtitle {
			font-size: 26px;
			line-height: 36px;
		}
	}
	.company {
		padding: 60px 40px;
		&__container {
			margin-top: 50px;
			gap: 40px;
		}
		&__subtitle {
			font-size: 26px;
			line-height: 36px;
		}
		&__title {
			font-size: 32px;
			line-height: 52px;
		}
	}
	.elipse {
		padding: 60px 40px;
		&__title {
			font-size: 26px;
			line-height: 36px;
		}
	}
	.nemo {
		max-height: 500px;
		height: 480px;
		&__wrapper {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__square {
			max-width: 200px;
			height: 100%;
			img {
				max-width: 200px;
			}
		}
	}
}

@media (max-width: 576px) {
	body {
		padding: 20px 20px 40px 20px;
	}
	.header {
		padding: 40px;
	}
	.company {
		padding: 40px;
		&__sed {
			max-width: 200px;
			&__box {
				padding: 20px;
			}
			&__title {
				font-size: 16px;
				line-height: 24px;
			}
			&__desc {
				margin-top: 20px;
				font-size: 14px;
				line-height: 24px;
			}
		}
	}
	.elipse {
		padding: 40px;
	}
	.nemo {
		max-height: 570px;
		height: 570px;
		&__lorem {
			padding-left: 40px;
		}
	}
	.footer {
		&__title {
			font-size: 18px;
		}
		&__form {
			width: 200px;
		}
	}
}
